body{
  color: white;

}
.ads-container{
  width: 60%;
  margin: 0 auto;
}

/* navbar */
header{
  background-color: rgb(44, 62, 80);
}
nav.navbar ul li a{
  color: white;
  font-size: 1.1rem;
}
/* jumbotron */

.jumbotron{
  background-color: rgb(26, 188, 156);
}
.jumbo-content{
  width: 100%;
  text-align: center;
}
.jumbo-content img{
  width: 200px;
}


/* portfolio */

.portfolio{
  color: black;
}
.portfolio .line{
  border: 2px solid rgb(0, 0, 0);
}


/* about */

.about{
  background-color: rgb(26, 188, 156);
}

/* contact me  */

.contact-me{
  color: black;
}
.contact-me .line{
  border: 2px solid rgb(0, 0, 0);
}

.ads-form-style{
  font-weight: 600;
  color: black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
/* !!MODIFICATA CLASSE BOOTSTRAP */
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: transparent;
  border-bottom: 1px solid#212529;
  outline: 0;
  box-shadow: none;
}
.ads-btn-green{
  background-color: rgb(26, 188, 156);
  border: none;
}
.ads-btn-green:hover{
  background-color: rgb(31, 131, 107);
}

/* FOOTER */

footer{
  background-color: rgb(58, 84, 109);
}
.icons-img{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
}
.icons-img i{
  line-height: 50px;
  font-size: 1.4rem;
}

.ads-green-text{
  color:  rgb(26, 188, 156);
}
.footer-copyright{
  background-color: rgb(44, 62, 80);
}