.debug{
  background-color: rgba(168, 84, 84, 0.7);
  border: 1px solid black;
}
.h100{
  height: 100px;
}
.h500{
  height: 500px;
}

/* per la stella */

.line{
  border: 2px solid white;
  height: 2px;
  width: 8vw;
}